
<!-- <body> -->
  <div class="container setting">

    <form class="" method="post" action="/admin/timeline/post/edit/<%-post.id %> ">

      <h2 style="text-align:center;">Edit Post</h2>
      <% if (locals.validation_error !='' ) { %>
        <%- include('./partials/_mesaj') %>
      <% } %>
      <div class="form-outline mb-4">
        <label>Post author user name</label>
        <input type="text" id="form6Example4" class="form-control" name="username" readonly
          value="<%-post.authorUsername%>" />
      </div>

      <div class="form-outline mb-4">
        <label>Number of likes</label>
        <input type="email" id="form6Example5" class="form-control" name="email" readonly
          value="<%-post.like.length-1%>" />
      </div>

      <div class="form-outline mb-4">
        <label>Number of dislikes</label>
        <input type="text" id="form6Example6" class="form-control" name="name" readonly placeholder="Name"
          value="<%-post.dislike.length-1%>" />
      </div>

      <div class="form-outline mb-4">
        <label>Update Date</label>
        <input type="text" id="form6Example6" class="form-control" name="name" readonly placeholder="Name"
          value="<%-post.updatedAt.toDateString()%>" />
      </div>
      <div class="form-group">

        <label>Text</label>

        <textarea type="text" rows="4" class="form-control" name="shareText"
          placeholder="Write something"><%-post.text%></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>
      <a href="/admin/timeline" type="submit" class="btn btn-primary btn-block mb-4">Return</a>
    </form>

  </div>

<!-- </body> -->