<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">flow<sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link" href="timeline">
          <i class="fas fa-fw fa-table"></i>
          <span>Timeline</span></a>
      </li>
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="settings">
          <i class="fas fa-solid fa-gear"></i>
          <span>User Settings</span></a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="fas fa-fw fa-times"></i>
          <span>Exit</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column " style="justify-content: space-between;">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group"> <br>
              <% if (locals.success_validation != '') { %>
                <%- include('./partials/_mesaj') %>
              <% } %>
              <div class="input-group-append">
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-size: 18px;"><b>
                    <%-user.name %>
                  </b></span>
                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
              </a>

        </nav>

        <!-- postlar -->

        <% for( let index=0; index < allPosts.length; index++ ) { %>
          <div class=" justify-content-start col-md-8">
            <div class="row" style="border:1px solid #ccc; margin:1rem; padding:.3rem; left:1rem; border-radius:15px">
              <!-- <div class="col-md-6"> -->
              <div class="media g-mb-30 media-comment">
                <img style="height: 50px; height: 50px"
                  class="d-flex g-width-20 g-height-20 rounded-circle g-mt-3 g-mr-1"
                  src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                  <div class="g-mb-15">
                    <h5 class="h5 g-color-gray-dark-v1 mb-0"><b>
                        <%- allPosts[index].authorName %><span class="g-color-gray-dark-v4 g-font-size-12"
                            style="opacity: 75%; font-size: 12px;"> (<%-allPosts[index].authorUsername %>)</span>
                      </b></h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12" style="opacity: 75%; font-size: 10px;">
                      <%-allPosts[index].createdAt.toDateString() %>
                    </span>
                  </div>
                  <p>
                    <%- allPosts[index].text %>
                  </p>

                  <ul class="list-inline d-sm-flex my-0" style="color:cadetblue;">
                    <!-- <li class="list-inline-item g-mr-20">
                      <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                        <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                        178
                      </a>
                    </li>
                    <li class="list-inline-item g-mr-20">
                      <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                        <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                        34
                      </a>
                    </li> -->

                    <% if (id==allPosts[index].authorId ) {%>
                      <li class="list-inline-item g-mr-20">
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                          href="timeline/post/delete/<%-allPosts[index]._id  %> ">
                          <submit>
                            <i class="fa fa-trash g-pos-rel g-top-1 g-mr-3"></i>
                            Delete
                          </submit>
                        </a>
                      </li>
                      <li class="list-inline-item g-mr-20">
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                          href="timeline/post/edit/<%-allPosts[index]._id  %> ">
                          <i class="fa fa-edit g-pos-rel g-top-1 g-mr-3"></i>
                          Edit
                        </a>
                      </li>
                      <% } %>
                        <li class="list-inline-item g-mr-20">

                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                            href="timeline/post/like/<%-allPosts[index]._id%>">
                            <submit>
                              <i class="fa-solid fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                              <%-allPosts[index].like.length-1 %>
                            </submit>
                          </a>
                        </li>

                        <li class="list-inline-item g-mr-20">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover"
                            href="timeline/post/dislike/<%-allPosts[index]._id%>">
                            <submit>
                              <i class="fa-solid fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                              <%-allPosts[index].dislike.length-1 %> %>
                            </submit>
                          </a>
                        </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <% } %>
      </div>
      <!-- <div class="container"> -->
      <form class="form-inline justify-content-start " method="post"
        style="border: 1px solid #4e73df; width: 23%; border-radius: 5px; padding:0.5rem; padding-left: 0rem; margin-left: 1.8rem;">
        <!-- <div class="form-group mb-2">
            <label for="staticEmail2" class="sr-only">Email</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com"> -->
        <!-- </div> -->
        <div class="form-group mx-sm-3 mb-8 ">
          <!-- <label for="inputPassword2" class="sr-only">Password</label> -->
          <textarea type="text" class="form-control" name="shareText" placeholder="Write something"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Share</button>
      </form>
      <!-- </div> -->


      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white container" style="bottom:0px; ">
        <!-- <div class="container my-auto"> -->
        <div class="copyright text-center my-auto ">
          <span">Copyright &copy; Feyza 2022</span>
            <!-- </div> -->
        </div>
      </footer>

    </div>

  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
</body>